#serial-container {
    width: 100%;
    height: 1fr;
    align: center middle;
    overflow: auto;
}

Input.-valid {
    border: tall $success 60%;
}
Input.-valid:focus {
    border: tall $success;
}
Input {
    margin: 1 1;
}